<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Blog</title>
</head>
<body>
	<header>
		<h1><a href="/">Admens Tech Blog</a></h1>
	</header>

	<article>
		<time datetime="">published: 12.07.2024, 07:28</time>
		<h2><a href="">My first Post</a></h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</article>

	<article>
		<time datetime="">published: 12.07.2024, 07:31</time>
		<h2><a href="">My second Post</a></h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</article>
</body>
</html>